* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    box-sizing: border-box;
  }

  /* HEADER */
.headerTop {
    background-color: #C12A71;
   /* height: 65px; */
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    height: 12vh;
    align-items: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .image-header {
    padding: 5px;
    height: 50px;
  }
  
  .listeMenu {
    height: 65px;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  
  .liensNav {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width:80%;
    border-radius: 1rem;
  }
  
  .liensNav:hover {
    background-color: #C282A0;
  
  }

  .wrapper-lienHeader{
    padding: 0.5rem;
  }
  
  .lienHeader {
    /* S'inscrire et connexion */
    text-align: center;
    align-self: center;
    margin-right: 5px;
    border-radius: 0.5rem !important;
    height: 80%;
  }
  
  .lienHeader:hover {
    /* S'inscrire et connexion */
    background-color: #C282A0;
    color: #f1f1f1;;
  }

  .line-connexion:hover{
    color: #f1f1f1;;
    background-color: #C282A0;
  }
  
  .lien {
    cursor: pointer;
    text-decoration: none;
    color: #f1f1f1;
    list-style-type: none;
  }
  
  
  .dropdown-toggle::after {
    content: none !important;
  }
  
  .menu-burger{
    position: fixed;
    display: none;
    top:1.25rem;
    right:1rem;
  }

  @media (max-width: 645px) {

    .headerTop{
      height:100%
    }
  
    .sticky{
      left:10px;
    }
  
    .listeMenu {
      flex-direction: column;
      justify-content: center ;
      width: 100%;
      gap: 0.5rem;
      height: 100%;
    }
  
    .header-container {
      display: block;
      text-align: center;
    }
  
    .image-header{
      margin-bottom: 1rem;
    }
  
    .wrapper-lienHeader{
      padding: 0.5rem;
      width: 100%;
    }
  
    .icon-media {
      padding: 1rem;
      display: none;
    }
  
    .menu-burger{
      display: flex;
    }
}