* {
  margin:0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: sans-serif;
}

.boutonValider {
  width: 100px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Couleur-header, #C12A71);
  color: var(--Blanc, #FFF);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
}

.boutonAnnuler{
  width: 100px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 5px;
  /*border: 1px solid var(--Bleu-clair, #4C9CDA); */
  background: var(--Blanc, #FFF);
  color: var(--Bleu-clair, #4C9CDA);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
}

/* COMPOSANTS TACHES */

.tache-container {
  margin-top: 100px;
}


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/