* {
  margin:0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: sans-serif;
}

/* HEADER */

.headerTop {
  background-color: #C12A71;
 /* height: 65px; */
  width: 100%;
  z-index: 1000;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
}

.image-header{
  padding:5px;
  height: 50px;
}

.listeMenu {
  height: 65px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.liensNav {
  list-style-type: none;
}

.lienHeader { /* S'inscrire et connexion */
  text-align: center;
  align-self: center;
  margin-right: 5px;
}

.lien {
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
}

.dropdown-toggle::after {
  content: none !important;
}

.menu-burger{
  position: fixed;
  display: none;
  top:1.25rem;
  right:1rem;
}


@media (max-width: 645px) {

  .listeMenu {
    flex-direction: column;
    justify-content: center ;
    width: 100%;
    gap: 0.5rem;
    height: 100%;
    display: none;
  }
  .header-container {
    display: block;
    text-align: center;
  }

  .image-header{
    margin-bottom: 1rem;
  }

  .wrapper-lienHeader{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .icon-media {
    padding: 1rem;
    display: none;
  }

  .menu-burger{
    display: flex;
  }
}


/* COMPOSANTS GENERIQUES */ 


.boutonValider {
    color: #FFFFFF !important;
    background-color: #C12A71 !important;
}

.boutonAnnuler{
  border-color: #C12A71 !important;
  color: #C12A71 !important;
}

/* COMPOSANTS TACHES */

.tache-container {
  width: 370px;
  height: 70px;
  margin: 30px 0.5em;
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: repeat(2, auto);
  box-shadow: 15px 15px 7px -3px rgba(0,0,0,0.3);
}

.example {
  background-color: black;
}

.tache-logo {
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center;
  border-right: solid black 1px;
  display: flex;
  width: 87px;
  height: 69px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.boutonlogo {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.tache-titre, .tache-quota, .type-tache, .heure-tache {
  place-self: center;
  
}

.check-tache{
  grid-column: 4/5;
  grid-row : 1/3;
  place-self: center;
  width: 48px;
  height: 32px;
  text-align: right;
}

.type-tache{
  width: 114px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 25px;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.choix-bouton-type{
  border-color: #C12A71 !important;
  color: #C12A71 !important;
}

.choix-bouton-type:hover{
  color: #FFFFFF !important;
  background-color: #C12A71 !important;
}

/* ACTION BAR */

.actionbar {
  background: var(--Couleur-header, #C12A71);
}

/* STYLE POUR MODALE */
.modale-basique {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
}

.overlay-style {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/